@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Lora:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Lora:ital,wght@0,400;0,600;1,400&display=swap');


@theme { 
    --color-secondary: #C4622D;
    --color-darkb: #3D2314;
    --color-darkerb: #2A1A0E;
    --color-primary-text-dark: #3D2314;
    --color-secondary-text: #7A4A2A;
    --color-secondary-bg: #FEF3E2;
    --color-fwhite : #FFF8F0;
    --color-gold: #F5A623;
    --color-gray-t: #C4A882;
    --color-footer-text: #6B4A35;
    --color-borderline: rgba(196,98,45,0.12);
    --color-borderline-light: rgba(196,98,45,0.07);

    --font-fontSize: clamp(16px, 2vw, 18px);
    --font-fontSize-h: clamp(22px,4vw,32px) ;

    --font-heading: "'Playfair Display', serif";
    --font-parag: "'Lora', serif";


     /* Scroll indicator animation (HeroSection) */
    --animate-float: float 2s ease-in-out infinite;

    /* Page entry animation*/
    --animate-fade-slide-up: fadeSlideUp 0.5s ease forwards;

    /* Text entry animation */
    --animate-fade-slide-up-text: fadeSlideUp 0.5s ease forwards 0.45s;
}

@keyframes float {
    0%, 100% { transform: translate(-50%, 0); }
    50%       { transform: translate(-50%, -10px); }
}


  @keyframes fadeSlideUp {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  @layer base {
    input:focus {
        outline: none;
    }
 
    input::placeholder {
        color: rgba(155, 106, 69, 0.5);
        font-style: italic;
    }
}